/Lab01/JavaBasics/InputFromKeyboard/target/
/Lab01/InputFromKeyboard/target/
/Lab01/ChoosingOption/target/
/Lab01/nStarTriangle/target/
/Lab01/numberOfDayInMonth/target/
/Lab01/ArrayImplement/target/
/Lab01/AddTwoMatrices/target/
/Lab03/OtherProjects/target/
